---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Septiembre 2023 - Junio 2024",
    title: "Trainee IT",
    company: "Group Saltó",
    description:
      "Responsable de planificación y desarrollo de test automáticos y gestión de pipelines de CI/CD para asegurar un despliegue web robusto en AzureDevops. Desarrollo de soluciones de automatización de procesos diarios optimizando el tiempo de los equipos. Ademas de crear aplicaciones dedicadas para facilitar la interacción de los usuarios internos con el ERP.",
      link:'https://drive.google.com/file/d/1fniD1APoj2ciSDM1MXYYSXg0gjYxPDLQ/view?usp=sharing',
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
